In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [3]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.863631 -0.270535  0.721963  0.479001
2013-01-02 -1.274130 -1.623698 -0.189863 -1.072028
2013-01-03  0.425148 -0.597433  0.088928  1.615566
2013-01-04  0.472656 -0.002145  0.045491  1.157985
2013-01-05  0.544149  1.104217  0.825007 -0.667575
2013-01-06 -0.563724  0.295865  0.042387  0.803169

***View data***

Here is how to view the top and bottom rows of the frame:

In [4]:
df.head()

                   A         B         C         D
2013-01-01  0.863631 -0.270535  0.721963  0.479001
2013-01-02 -1.274130 -1.623698 -0.189863 -1.072028
2013-01-03  0.425148 -0.597433  0.088928  1.615566
2013-01-04  0.472656 -0.002145  0.045491  1.157985
2013-01-05  0.544149  1.104217  0.825007 -0.667575

In [5]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.544149  1.104217  0.825007 -0.667575
2013-01-06 -0.563724  0.295865  0.042387  0.803169

describe() shows a quick statistic summary of your data:

In [6]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.077955 -0.182288  0.255652  0.386020
std    0.818638  0.913671  0.414136  1.051317
min   -1.274130 -1.623698 -0.189863 -1.072028
25%   -0.316506 -0.515709  0.043163 -0.380931
50%    0.448902 -0.136340  0.067209  0.641085
75%    0.526275  0.221362  0.563705  1.069281
max    0.863631  1.104217  0.825007  1.615566

Getting

In [7]:
df["A"]

2013-01-01    0.863631
2013-01-02   -1.274130
2013-01-03    0.425148
2013-01-04    0.472656
2013-01-05    0.544149
2013-01-06   -0.563724
Freq: D, Name: A, dtype: float64

In [8]:
df[0:3]

                   A         B         C         D
2013-01-01  0.863631 -0.270535  0.721963  0.479001
2013-01-02 -1.274130 -1.623698 -0.189863 -1.072028
2013-01-03  0.425148 -0.597433  0.088928  1.615566

In [9]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -1.274130 -1.623698 -0.189863 -1.072028
2013-01-03  0.425148 -0.597433  0.088928  1.615566
2013-01-04  0.472656 -0.002145  0.045491  1.157985

***Selection by label***

For getting a cross section using a label:

In [10]:
df.loc[dates[0]]

A    0.863631
B   -0.270535
C    0.721963
D    0.479001
Name: 2013-01-01 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [11]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.863631 -0.270535
2013-01-02 -1.274130 -1.623698
2013-01-03  0.425148 -0.597433
2013-01-04  0.472656 -0.002145
2013-01-05  0.544149  1.104217
2013-01-06 -0.563724  0.295865

In [12]:
 df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -1.274130 -1.623698
2013-01-03  0.425148 -0.597433
2013-01-04  0.472656 -0.002145

Reduction in the dimensions of the returned object:

In [13]:
df.loc["20130102", ["A", "B"]]

A   -1.274130
B   -1.623698
Name: 2013-01-02 00:00:00, dtype: float64

For getting a scalar value:

In [14]:
df.loc[dates[0], "A"]

0.8636312944109875