In [1]:
# Vector of strings
fruits <- c("banana", "apple", "orange")

# Print fruits
fruits

[1] "banana" "apple"  "orange"

In [2]:
# Vector of numerical values
numbers <- c(1, 2, 3)

# Print numbers
numbers

[1] 1 2 3

In [3]:
# Vector with numerical values in a sequence
numbers <- 1:10

numbers

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
# Vector with numerical decimals in a sequence
numbers1 <- 1.5:6.5
numbers1

# Vector with numerical decimals in a sequence where the last element is not used
numbers2 <- 1.5:6.3
numbers2

[1] 1.5 2.5 3.5 4.5 5.5 6.5

[1] 1.5 2.5 3.5 4.5 5.5

In [5]:
# Vector of logical values
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

In [6]:
fruits <- c("banana", "apple", "orange")

length(fruits)

[1] 3

In [7]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)

sort(fruits)  # Sort a string
sort(numbers) # Sort numbers

[1] "apple"  "banana" "lemon"  "mango"  "orange"

[1]  2  3  5  7 13 20

In [8]:
fruits <- c("banana", "apple", "orange")

# Access the first item (banana)
fruits[1]

[1] "banana"

In [9]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access the first and third item (banana and orange)
fruits[c(1, 3)]

[1] "banana" "orange"

In [10]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access all items except for the first item
fruits[c(-1)]

[1] "apple"  "orange" "mango"  "lemon"

Change an Item

To change the value of a specific item, refer to the index number:

In [11]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Change "banana" to "pear"
fruits[1] <- "pear"

# Print fruits
fruits

[1] "pear"   "apple"  "orange" "mango"  "lemon"

In [12]:
numbers <- 1:10

numbers

 [1]  1  2  3  4  5  6  7  8  9 10

In [13]:
numbers <- seq(from = 0, to = 100, by = 20)

numbers

[1]   0  20  40  60  80 100

R Lists

A list in R can contain many different data types inside it. A list is a collection of data which is ordered and changeable.

To create a list, use the list() function:

In [14]:
thislist <- list("apple", "banana", "cherry")

thislist[1]

[[1]]
[1] "apple"

In [15]:
thislist <- list("apple", "banana", "cherry")
thislist[1] <- "blackcurrant"

# Print the updated list
thislist

[[1]]
[1] "blackcurrant"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"

In [16]:
thislist <- list("apple", "banana", "cherry")

length(thislist)

[1] 3

In [17]:
thislist <- list("apple", "banana", "cherry")

"apple" %in% thislist

[1] TRUE

Add List Items

To add an item to the end of the list, use the append() function:

In [18]:
thislist <- list("apple", "banana", "cherry")

append(thislist, "orange")

[[1]]
[1] "apple"

[[2]]
[1] "banana"

[[3]]
[1] "cherry"

[[4]]
[1] "orange"

To add an item to the right of a specified index, add "after=index number" in the append() function:

In [19]:
thislist <- list("apple", "banana", "cherry")

append(thislist, "orange", after = 2)

[[1]]
[1] "apple"

[[2]]
[1] "banana"

[[3]]
[1] "orange"

[[4]]
[1] "cherry"

Remove List Items

You can also remove list items. The following example creates a new, updated list without an "apple" item:

In [21]:
thislist <- list("apple", "banana", "cherry")

newlist <- thislist[-1]

# Print the new list
newlist

[[1]]
[1] "banana"

[[2]]
[1] "cherry"

Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range, by using the : operator:

In [22]:
thislist <- list("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

(thislist)[2:5]

[[1]]
[1] "banana"

[[2]]
[1] "cherry"

[[3]]
[1] "orange"

[[4]]
[1] "kiwi"

Loop Through a List

You can loop through the list items by using a for loop:

In [23]:
thislist <- list("apple", "banana", "cherry")

for (x in thislist) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

Join Two Lists

There are several ways to join, or concatenate, two or more lists in R.

The most common way is to use the c() function, which combines two elements together:

In [24]:
list1 <- list("a", "b", "c")
list2 <- list(1,2,3)
list3 <- c(list1,list2)

list3

[[1]]
[1] "a"

[[2]]
[1] "b"

[[3]]
[1] "c"

[[4]]
[1] 1

[[5]]
[1] 2

[[6]]
[1] 3